<sebm-google-map
  (boundsChange)="boundsChange($event)"
  [styles]="mapOptions.style"
  [latitude]="mapOptions.lat"
  [longitude]="mapOptions.lng"
  [zoom]="mapOptions.zoom"
  [scrollwheel]="mapOptions.scrollwheel">

  <sebm-google-map-marker
    *ngFor="let grp of grps; let i = index"
    [latitude]="grp.lat"
    [longitude]="grp.lng"
    [markerDraggable]="false">

    <sebm-google-map-info-window>
      <strong>{{ grp.label }}</strong>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>
</sebm-google-map>
