/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import './../../node_modules/angular2-mdl/scss/color-definitions';

$color-primary: $palette-deep-purple-500;
$color-primary-dark: $palette-deep-purple-A200;
$color-accent: $palette-yellow-A400;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-light-contrast;

// desktops are md
$grid-desktop-breakpoint: 870px;
// tablets are sm
$grid-tablet-breakpoint: 510px;
// phones are xs

@import './../../node_modules/angular2-mdl/scss/material-design-lite';
@import './../../node_modules/@angular2-mdl-ext/popover/popover';
@import './../../node_modules/@angular2-mdl-ext/select/select';
@import './../../node_modules/angular-calendar/dist/css/angular-calendar';
