<sebm-google-map
  *ngIf="( grpMarkers && grpMarkers.length > 0 ) || currentLocation.coordinates "
  [fitBounds]="mapBounds"
  (boundsChange)="boundsChange($event)"
  [styles]="mapOptions.style"
  [scrollwheel]="mapOptions.scrollwheel">
  <sebm-google-map-marker
    *ngIf="currentLocation"
    [latitude]="currentLocation.coordinates[1]"
    [longitude]="currentLocation.coordinates[0]"
    >
    <sebm-google-map-info-window>
      <strong>Mi localizacion</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
  <sebm-google-map-marker
    *ngFor="let m of grpMarkers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [markerDraggable]="false"
    [openInfoWindow]="false"
    (mouseOver)="m.mouseOver($event)"
    (mouseOut)="m.mouseOut($event)"
    >
    <sebm-google-map-info-window
      [isOpen]="m.infoWindowOpen"
      >
      <strong>{{ m.label }}</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
