<div *ngIf="!locationDetermined && !searchType">
	<h3>obteniendo localizacion... porfavor espere</h3>
</div>
<div [mdl-shadow]="3" *ngIf="locationDetermined && searchType">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--stretch">
      <div id="location-options" class="mdl-grid mdl-grid--no-spacing" style="min-height: 100%;">
        <!-- location finding options -->
        <div class="mdl-cell mdl-cell--12-col mdl-cell--bottom">
          <mdl-icon>
            {{ LocationTypeOptions[searchType].icon }}
          </mdl-icon>
          <mdl-select [(ngModel)]="searchType" (change)="actions.useSearchType(searchType)">
            <mdl-option 
              *ngFor="let searchType of searchTypes" 
              [value]="LocationTypeOptions[searchType].value">
              {{ LocationTypeOptions[searchType].title }}
            </mdl-option>
          </mdl-select>
        </div>
        <!-- location search field -->
        <div class="mdl-cell mdl-cell--12-col mdl-cell--bottom" 
					*ngIf="LocationTypeOptions[searchType].cityStateSearch" 
					[@flyInLeft]="animationOptions.citySearchState">
          <mdl-textfield [ngModel]="cityState" (ngModelChange)="cityStateChange($event)" placeholder="Ciudad, estado en Mexico">
          </mdl-textfield>
        </div>
      </div>
    </div>
    <!-- sorting options -->
    <div id="sorting-options" 
         class="mdl-cell mdl-cell--4-col mdl-cell--bottom" 
         *ngIf="sortBy" 
         [@flyInUp]="animationOptions.sortOptionsState">
      <h6>Ordenar parroquias por:</h6>
      <mdl-select [(ngModel)]="sortBy" (change)="actions.setSortBy(sortBy)">
        <mdl-option *ngFor="let sortByOption of LocationTypeOptions[searchType].sorts" [value]="sortByOption">{{SortOptions[sortByOption].title}}</mdl-option>
      </mdl-select>
    </div>
    <div id="other-options" 
         class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-tablet mdl-cell--bottom" 
         *ngIf="SortOptions[sortBy].needName"
         [@flyInUp]="animationOptions.sortOptionsState">
      <mdl-textfield [ngModel]="name" (ngModelChange)="actions.setName($event)" type="text" 
                     placeholder="Nombre de parroquia">
      </mdl-textfield>
    </div>
  </div>
  <!--{{ searchForm.value | json }}-->
</div>
