<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>

    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

    <!-- mdl -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>
  <body>
    <app>
      <div style="width: 100vw; height: 100vh;">
        <svg timelineBegin='onStart' style="display: block; padding-top: 40vh; margin-left: auto; margin-right: auto;" width='120px' height='120px' viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-dashinfinity">
          <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
          <path d="M24.3,30C11.4,30,5,43.3,5,50s6.4,20,19.3,20c19.3,0,32.1-40,51.4-40C88.6,30,95,43.3,95,50s-6.4,20-19.3,20C56.4,70,43.6,30,24.3,30z" fill="none" stroke="rgba(2,2,2,0.94)" stroke-width="5s" stroke-dasharray='9.163890293666295 9.163890293666295' stroke-dashoffset="0">
            <animate attributeName="stroke-dashoffset" from="0" to="18.32778058733259" begin="0" dur="1s" repeatCount="indefinite" fill="freeze"></animate>
          </path>
        </svg>
      </div>
    </app>
    <script>
      (function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
      r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  <% if (htmlWebpackPlugin.options.metadata.isProd) { %>
        ga('create', 'UA-91185310-2', 'auto');
  <% } else { %>
        ga('create', 'UA-91185310-1', 'auto');
  <% } %>
      ga('send', 'pageview');
    </script>
    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
