<form [formGroup]="searchForm" novalidate>
  <div class="mdl-grid" mdl-shadow="4">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-phone">
      <div id="search-header" class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
          <mdl-textfield 
             type="text" 
             label="Nombre de la Parroquias o Iglesia" 
             formControlName="name">
          </mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
          <mdl-textfield
             type="text"
             label="Ciudad, Estado"
             formControlName="location">
          </mdl-textfield>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-cell--top">
          <button
             mdl-button
             mdl-button-type="raised"
             mdl-colored="primary"
             mdl-ripple>
            Buscar
          </button>
          <button
             mdl-button
             mdl-button-type="raised"
             mdl-colored="accent"
             mdl-ripple
             (click)="searchOptions.showAllOptions=!searchOptions.showAllOptions"
             >
             Mas Opciones 
          </button>
        </div>
        <!-- being short options -->
        <!-- end short options -->
        <!-- begin all search options DESKTOP -->
        <div *hideItBootstrap="['xs','sm']">
          <div *ngIf="searchOptions.showAllOptions" id="search-options" class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid mdl-cell--no-spacing">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--1-offset">
                <div class="mdl-grid mdl-grid--no-spacing">
                  <div class="mdl-cell mdl-cell--12-col">
                    <h6>Ordenar por</h6>
                  </div>
                  <div *ngFor="let sortOption of sortOptions" class="mdl-cell mdl-cell--11-col mdl-cell--1-offset">
                    <mdl-radio value="{{sortOption.value}}" 
                               formControlName="sortBy" 
                               mdl-ripple>{{sortOption.title}}
                    </mdl-radio>
                  </div>
                </div>
              </div>  
              <!--
              <div class="mdl-cell mdl-cell--2-col">
                <div class="mdl-grid mdl-grid--no-spacing">
                  <div class="mdl-cell mdl-cell--12-col">
                    <h6>Tipo de evento</h6>
                  </div>
                  <div *ngFor="let eventType of eventTypes" class="mdl-cell mdl-cell--11-col mdl-cell--1-offset">
                    <mdl-checkbox name="{{eventType.value}}" value="true" [(ngModel)]="searchModel.event_types[eventType.value]">
                      {{ eventType.name }}
                    </mdl-checkbox>
                  </div>
                </div>
              </div>
              -->
            </div>  
          </div>
        </div>
        <!-- end all search options -->
        <!-- begin all search options DESKTOP -->
        <div *showItBootstrap="['xs','sm']">
          <div *ngIf="searchOptions.showAllOptions" id="search-options"> 
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <mdl-select formControlName="sortBy" [placeholder]="Orden" [style.width.%]="100">
                  <mdl-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{sortOption.title}}</mdl-option>
                </mdl-select>
              </div>
              <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
                <mdl-select formControlName="event_type" [multiple]="true" placeholder="Evento">
                  <mdl-option *ngFor="let eventType of eventTypes" [value]="eventType.value">{{eventType.name}}</mdl-option>
                </mdl-select>
              </div>
            </div>
          </div>
        </div> 
        <!-- end all search options -->
        {{ searchForm.value | json }}
      </div>
    </div>
  </div>
</form>
