<div class="mdl-grid">
  <!-- search options -->
  <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
  </div>
  <grps-search class="mdl-cell mdl-cell--10-col mdl-cell--1-offset" 
               [(grps)]="grps"
               (currentLocation)="currentLocation"
               [queryBounds]="queryBounds">
  </grps-search>
  <!-- list of grps -->
  <div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset">
    <grps-list [grps]="grps"></grps-list>
  </div>
  <!-- map showing grps -->
  <div mdl-shadow="2" class="mdl-cell mdl-cell--5-col home-map-container">
    <grps-map [grps]="grps" 
              [currentLocation]="currentLocation"
              (boundsChanged)="queryBounds">
    </grps-map>
  </div>
</div>
